###############
# --- API --- #
###############
fastapi
uvicorn
python-multipart

####################
# --- FRONTEND --- #
####################
jinja2
sse_starlette

###############
# --- LLM --- #
###############
openai
